// Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Base
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// Components
@import 'components/header';
@import 'components/hero';
@import 'components/report-classification';
@import 'components/reporting-process';
@import 'components/statistics-section';
@import 'components/connected-institutions';
@import 'components/track-complaint';
@import 'components/jnn-section';
@import 'components/create-complaint';
@import 'components/other-channels';
@import 'components/complaint-list';
@import 'components/login';
@import 'components/report-form-modal';
@import 'components/footer';

// Layout
@import 'layout/app';